
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*,*::before,*::after{
   padding: 0;
   box-sizing: border-box;
 }
 body{
    margin-top: 20px;
 }
 .volkhov-bold {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}
.logo{
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
   color:#222222
}
header{
display: flex;
justify-content: space-between;
align-items: center;
margin:0 auto;
width: 1170px;
height:114px ;
}
button{
    border: none;
    background-color: white;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight:400 ;
  font-style: normal;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 386px;
    height:24px ;
    color:#222222
}
.actions{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:3rem;
}
.no-bg-btn{
  width: 44px;
  height: 24px;
  color:#fd8d3a;
  font-weight: 600;
}
.bg-btn{
  width: 160px;
  height: 50px;
  color: white;
  background-color:#fd8d3a; 
  border-radius: 5px;
}
.page1{
  width: 1250px;
  height:720px ;

}
.page2{
  width: 1250px;
  height:720px ;
  border: 2px solid black;
  background-color: #F7F8FC; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-content{
  display: flex;
 justify-content: center;
  align-items:center;
  flex-direction:column;
  top:auto;
  bottom: 0;
}
.below{
  width:841px;
  height: 120px;
}
.left{
  width:521px ;
  height: 486px;
  border: 2px solid black;
  margin:4px;
}
.top-content{
  display: flex;
 justify-content: center;
  align-items:center;
  flex-direction:row;
  top:auto;
  bottom:0;
}
.right{
  width:785px ;
  height: 585px;
  margin:7px;
  display: flex;
 justify-content: center;
  align-items:center;
  
}
.imgs{
width: 400px;
height: 500px;
position: absolute;
z-index: 0;
}
.imgss{
width: 700px;
height: 191px;
position: relative;
z-index: -1;
bottom:350px;
}
.first{
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  width: 520px;
  height: 210px;
  border: 1px solid black;
  color: #222222;
  padding:15px;
}
.second{
   width: 520px;
  height: 150px;
  border: 1px solid black;
  padding:15px;
}
.third{
  width: 520px;
  height: 120px;
  border: 1px solid black;
}
.color{
  color:#fd8d3a;
}
.pop{
   font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight:400 ;
  font-style: normal;
margin: 10px;
}
.btn-n{
  width: 190px;
  height: 63px;
  color:#fd8d3a;;
  background-color:#FFFFFF; 
  border-radius: 3px;
  border: 1px solid #fd8d3a;
  margin: 20px;
}
.under{
  width: 850px;
  height:63px ;
  border: 1px solid #fd8d3a;
  margin: 10px;
  display: flex;
  gap:6rem
}
.below{
  display: flex;
  justify-content: center;
  align-items: center;
}
.lo{
  font-family: "Volkhov", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
}
.go{
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight:210;
  font-style: normal;
}
.now{
  width: 152px;
  height: 63px;
  color: white;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color:#fd8d3a; 
}
.box{
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
position: relative;
  top:100px;
  z-index: 50;
}
.firstbox{
  width: 162.35px;
  height: 69.7px;
background-color: #FFFFFF;
border: 1px solid #FFFFFF;
display: flex;
justify-content: center;
cursor: pointer;
border-radius: 5px;
position: relative;
bottom:105px;
left:23px;
margin: 6px;
z-index: 50;
}
.secondbox{
   width: 207.81px;
  height: 71.81px;
border: 1px solid #FFFFFF;
background-color: #FFFFFF;
display: flex;
justify-content: center;
cursor: pointer;
border-radius: 5px;
position: relative;
top:90px;
right: 40px;
z-index: 50;
}
.thirdbox{
  width: 187.25px;
  height:78.15px;
border: 1px solid #FFFFFF;
background-color: #FFFFFF;
display: flex;
justify-content: center;
cursor: pointer;
border-radius: 5px;
position: relative;
left: 40px;
z-index: 50;
}
.smallsty{
  padding: 5px;
}
.bt{
  font-family: "Volkhov", serif;
  font-weight: 70;
  font-style: normal;
  font-size: 18px;
  padding: 5px;
}
.btns{
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight:200;
  font-style: normal;
}
.inside{
  width:1050px;
  height:484px;
}
.secondfirst{
  width:521px;
  height:142px;
  padding: 4px;
}
.secondsecond{
  width:330px;
  height:278px;
  border:1px solid #FFFFFF;
  background-color: #FFFFFF;
  
}
.top{
  display: flex;
 justify-content: center;
  align-items:center;
  flex-direction:row;
  margin: 5px;
}
.bottom{
  display: flex;
  flex-direction:row;
   margin: 7px;
   gap:2rem;
}
.element{
  width:179.9px;
  height:130.7px;
  margin: 10px;
}
.eyes{
   width:521px;
  height:54px;
  padding: 19px 0px 0px 0px;
  margin: 7px;
}
.nose{
   width:482px;
  height:64px;
  display: flex;
 justify-content: center;
  align-items:center;

}
.still{
  font-family: "Volkhov", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  color: #222222;
  padding:7px;
   padding:10px 10px 0px 150px;
}
.stills{
   color:#fd8d3a;
   font-family: "Volkhov", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
}
.pops{
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight:350 ;
  font-style: normal;
   padding: 0px 0px 0px 140px;
}
.popss{
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight:350 ;
  font-style: normal;
  padding: 0px 0px 0px 40px;
}
.in{
  width:48px;
  height: 48px;
  margin: 25px;
}
.between{
  width:192px;
  height: 34px;
  margin: 25px;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  color: #222222;
}
.kodu{
  position: relative;
  z-index:1;
  bottom:240px;
}
.out{
  width:290px;
  height: 52px;
   margin: 25px;
   position: relative;
   z-index: 50;
   font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight:300 ;
  font-style: normal;
}
.pagebox{
   width:1110px;
  height:610px;
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.page3{
  width: 1250px;
  height:720px ;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FEFCFB;
}
.you{
  width:675px;
  height:142px;
}
.mee{
   width:1100px;
  height:400px;
  display: flex;
  flex-direction: row;
}
.uss{
  width:104px;
  height:40px; 
  margin: 20px;
}
.BTN{
  padding: 0px 0px 0px 19px;
}
.threefirst{
   width:650px;
  height:54px;
  margin:5px;
padding: 18px 0px 0px 0px;
}
.threesecond{
  width:590px;
  height:64px;
  padding:10px 10px 0px 60px;
  margin: 5px;
}
.insided{
  position: relative;
  padding: 20px 0px 0px 0px;
}
.insideds{
  position: relative;
  bottom:45px;
  right:69px;
}
.insidedss{
  position: relative;
  top:20px;
  right:139px;
}
.outside{
  width: 100%;
  height: 362.99px;
  border: 5px solid  #ffffff00;
  background-color: #ffffff41;
  object-fit:cover;
  position: relative;
right:130px;
top:16px; 
}
.tree{
   width:105px;
  height:81px;
  margin: 90px;
}
.popse{
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight:350 ;
  font-style: normal;
   padding: 0px 0px 10px 11px;
   margin-left: 20px;
}
.noses{
  width:570px;
  height:64px;
   margin-left: 35px;
    padding: 0px 0px 0px 170px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.eyess{
   width:521px;
  height:54px;
  padding: 19px 0px 0px 90px;
  margin-left: 37px;
}
.at{
  width: 1008px;
  height: 40px;
display: flex;
justify-content: end;
position: relative;
bottom:55px;
}
.large{
  width: 1130px;
  height: 447px;
position: relative;
bottom:47px;
display: flex;
  flex-direction: row;
}
.pant{
  display: flex;
  position: relative;
  left:70px;
}
.tiny{
   width: 370px;
  height: 447px;
  margin:4px;
  background-color:#FFFFFF;
  border:2px solid #48434310;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  margin-bottom: 50px;
}
.inner{
  width: 369px;
  height: 327px;
}
.thr{
  position: relative;
   object-fit: contain;
   right:80px;
  bottom:2px;
}
.rome{
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 27px;
  padding: 10px;
}
.trip{
   font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight:290 ;
  font-style: normal;
  display: flex;
  gap:0.5rem;
  padding: 0px 0px 0px 8px;
}
.rupes{
  color:#FA7436;
  padding: 0px 0px 0px 100px;
}
.rate{
  display: flex;
  gap:0.5rem;
  padding: 0px 0px 0px 200px;
}
.rupess{
  color:#FA7436;
  padding: 0px 0px 0px 70px;
}
.cute{
  width: 1003px;
  height:356px ;
  display: flex;
}
.easy{
   width: 396px;
  height:268px ;
}
.hard{
   width: 504px;
  height:245px ;
  border: 1px solid black;
  margin-left:500px;
margin-top: 109.99px;
  position: absolute;
  background-color:#F7F8FC ;
  border: 1px solid  #0d0d0d08;
  box-shadow: 0px 0px 5px #4E4E73;
  
}
.hards{
   width: 504px;
  height:245px ;
  margin-left: 450px;
  margin-top: 40px;
  position: absolute;
   background-color:#FFFFFF;
  border:2px solid #FFFFFF;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}
.off{
   width: 168.56px;
  height:140px ;
  position: relative;
  bottom:140px;
  right:50px;
}
.stole{
  font-family: "Volkhov", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 40px;
  color: #222222;
  padding: 15px 0px 15px 30px;
}
.stoles{
  color:#FA7436;
   font-family: "Volkhov", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 40px;
  padding: 0px 0px 15px 10px;
}
.man{
  width: 68px;
  height: 68px;
  object-fit: contain;
  position: relative;
  bottom: 30px;
  right:22px;
}
.mr{
  position: relative;
  top:190px;
  padding: 0px 0px 0px 10px;
   font-family: "poppins", sans-serif;
  font-weight: 550;
  font-style: normal;
  font-size: 16px;
  color: #222222;
}
.mrs{
position: relative;
  top:190px;
  padding: 6px 0px 0px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight:200 ;
  font-style: normal;
}
.popset{
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight:350 ;
  font-style: normal;
   padding: 0px 0px 0px 19px;
}
.mrA{
   position: relative;
  padding: 0px 0px 0px 10px;
   font-family: "poppins", sans-serif;
  font-weight: 550;
  font-style: normal;
  font-size: 16px;
  color: #222222;
  top:50px;
}
.mrsA{
  position: relative;
  padding: 6px 0px 0px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight:200 ;
  font-style: normal;
  top:50px;
}
.mela{
  width: 646px;
  height:53.52px ;
  margin-bottom: 80px;
}
.kila{
  width: 1130px;
  height:388px ;
  display: flex;
  flex-direction: row;
}
.page4{
   width: 1250px;
  height:720px ;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FEFCFB;
  flex-direction: column;
}
.ulla{
   width: 270px;
  height:384.58px ;
  display: flex;
  flex-direction: column;
  margin:7px;
}
.onnu{
   width: 270px;
  height:267.62px;
}
.nee{
   font-family: "poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: #222222;
  padding: 10px;
}
.naa{
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight:200 ;
  font-style: normal;
  padding: 10px;
}